<!DOCTYPE html>
<html lang = en>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <p3>
      Push the button below to test out our RPI Script
    </p3>
    <p3>
      <br> It will open a terminal window, you will be able to respond with 'alexa', 'hey, siri', or 'hey, google'
    </p3>
    <p3>
      <br> and then it will play one of our adversarial examples!
    </p3>
      <br>
    <form action="/tryRpi" method="get">
      <button style="height:40px;width:150px" type="submit">Try it!</button>
  </form>
  </body>
</html>